@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ASP.NET MVC 5 with Angular 7</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
